<h1>Edit <%= @creature.name %>'s Profile</h1>

<%= form_for @creature do |f| %>
  Name: <%= f.text_field :name %><br />
  Description : <%= f.text_field :description %><br />
  <%= f.submit "Save Changes" %>
<% end %>
